In [12]:
import pandas as pd
file_path = 'data_final.csv'  
df = pd.read_csv(file_path)
print(df.head())

    Age Education_Level  Occupation  Number_of_Dependents Location  \
0  56.0        Master's  Technology                   5.0    Urban
1  69.0     High School     Finance                   0.0    Urban
2  46.0      Bachelor's  Technology                   1.0    Urban
3  32.0     High School      Others                   2.0    Urban
4  60.0      Bachelor's     Finance                   3.0    Urban

   Work_Experience Marital_Status Employment_Status  Household_Size  \
0             21.0        Married         Full-time             7.0
1              4.0         Single         Full-time             7.0
2              1.0         Single         Full-time             7.0
3             32.0        Married         Full-time             1.0
4             15.0        Married     Self-employed             4.0

  Homeownership_Status  ... Income_Growth_Rate Budget_Adjustments  \
0                  Own  ...               0.07               0.05
1                  Own  ...               0.03               0.06
2                  Own  ...               0.08               0.09
3                  Own  ...               0.09               0.08
4                  Own  ...               0.07               0.07

  Expected_ROI  Healthcare_Cost       Debt Savings_Rate  Desired_Expenses  \
0     42767.41          8906.10   10591.14     28457.33          24527.93
1     25744.66         18772.34    5510.80     29700.21          44334.32
2     83321.10          9642.46   16686.02     22181.83          33326.02
3     59217.72         11004.45   25942.06     11428.21          42327.27
4    350192.33         85179.41  107779.85    232062.93         221683.44

   Inflation_Rate  Retirement_Age  Life_Expectancy
0            2.35            63.0             84.0
1            2.35            63.0             82.0
2            2.35            63.0             83.0
3            2.35            63.0             83.0
4            2.35            63.0             83.0

[5 rows x 35 columns]

In [5]:
print("Column names:")
print(df.columns)

Column names:
Index(['Age', 'Education_Level', 'Occupation', 'Number_of_Dependents',
       'Location', 'Work_Experience', 'Marital_Status', 'Employment_Status',
       'Household_Size', 'Homeownership_Status', 'Type_of_Housing', 'Gender',
       'Primary_Mode_of_Transportation', 'Income', 'Career_Level',
       'Financial_Status', 'Housing', 'Food', 'Transportation', 'Education',
       'Total_Invested_Amount', 'Emergency_Funds', 'Tax_Rate',
       'Cost_of_Living', 'Monthly_Savings', 'Income_Growth_Rate',
       'Budget_Adjustments', 'Expected_ROI', 'Healthcare_Cost', 'Debt',
       'Savings_Rate', 'Desired_Expenses', 'Inflation_Rate', 'Retirement_Age',
       'Life_Expectancy'],
      dtype='object')

In [3]:
print("Null values in each column:")
print(df.isnull().sum())

Null values in each column:
Age                               0
Education_Level                   0
Occupation                        0
Number_of_Dependents              0
Location                          0
Work_Experience                   0
Marital_Status                    0
Employment_Status                 0
Household_Size                    0
Homeownership_Status              0
Type_of_Housing                   0
Gender                            0
Primary_Mode_of_Transportation    0
Income                            0
Career_Level                      0
Financial_Status                  0
Housing                           0
Food                              0
Transportation                    0
Education                         0
Total_Invested_Amount             0
Emergency_Funds                   0
Tax_Rate                          0
Cost_of_Living                    0
Monthly_Savings                   0
Income_Growth_Rate                0
Budget_Adjustments                0
Expected_ROI                      0
Healthcare_Cost                   0
Debt                              0
Savings_Rate                      0
Desired_Expenses                  0
Inflation_Rate                    0
Retirement_Age                    0
Life_Expectancy                   0
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 35 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Age                             50000 non-null  float64
 1   Education_Level                 50000 non-null  object
 2   Occupation                      50000 non-null  object
 3   Number_of_Dependents            50000 non-null  float64
 4   Location                        50000 non-null  object
 5   Work_Experience                 50000 non-null  float64
 6   Marital_Status                  50000 non-null  object
 7   Employment_Status               50000 non-null  object
 8   Household_Size                  50000 non-null  float64
 9   Homeownership_Status            50000 non-null  object
 10  Type_of_Housing                 50000 non-null  object
 11  Gender                          50000 non-null  object
 12  Primary_Mode_of_Transportation  50000 non-null  object
 13  Income                          50000 non-null  float64
 14  Career_Level                    50000 non-null  object
 15  Financial_Status                50000 non-null  object
 16  Housing                         50000 non-null  float64
 17  Food                            50000 non-null  float64
 18  Transportation                  50000 non-null  float64
 19  Education                       50000 non-null  float64
 20  Total_Invested_Amount           50000 non-null  float64
 21  Emergency_Funds                 50000 non-null  float64
 22  Tax_Rate                        50000 non-null  float64
 23  Cost_of_Living                  50000 non-null  float64
 24  Monthly_Savings                 50000 non-null  float64
 25  Income_Growth_Rate              50000 non-null  float64
 26  Budget_Adjustments              50000 non-null  float64
 27  Expected_ROI                    50000 non-null  float64
 28  Healthcare_Cost                 50000 non-null  float64
 29  Debt                            50000 non-null  float64
 30  Savings_Rate                    50000 non-null  float64
 31  Desired_Expenses                50000 non-null  float64
 32  Inflation_Rate                  50000 non-null  float64
 33  Retirement_Age                  50000 non-null  float64
 34  Life_Expectancy                 50000 non-null  float64
dtypes: float64(24), object(11)
memory usage: 13.4+ MB

In [8]:
df.shape

(50000, 35)

In [9]:
#Checking for duplicate rows
duplicate_count = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_count}")

#none to drop

Number of duplicate rows: 0

In [10]:
#Unique values
categorical_cols = df.select_dtypes(include=['object']).columns
for col in categorical_cols:
    print(f"\nColumn: {col}")
    print(df[col].value_counts())

Column: Education_Level
Education_Level
Bachelor's     20336
High School    14756
Master's       12388
Doctorate       2520
Name: count, dtype: int64

Column: Occupation
Occupation
Healthcare    15273
Technology    11948
Finance        7675
Others         7640
Education      7464
Name: count, dtype: int64

Column: Location
Location
Urban       35238
Suburban     9646
Rural        5116
Name: count, dtype: int64

Column: Marital_Status
Marital_Status
Married     25756
Single      19432
Divorced     4812
Name: count, dtype: int64

Column: Employment_Status
Employment_Status
Full-time        24991
Part-time        15122
Self-employed     9887
Name: count, dtype: int64

Column: Homeownership_Status
Homeownership_Status
Own     30051
Rent    19949
Name: count, dtype: int64

Column: Type_of_Housing
Type_of_Housing
Single-family home    20213
Apartment             20080
Townhouse              9707
Name: count, dtype: int64

Column: Gender
Gender
Male      25577
Female    24423
Name: count, dtype: int64

Column: Primary_Mode_of_Transportation
Primary_Mode_of_Transportation
Public transit    20260
Car               14908
Biking             9741
Walking            5091
Name: count, dtype: int64

Column: Career_Level
Career_Level
Entry-Level    20314
Mid-Career     19960
Late-Career     9726
Name: count, dtype: int64

Column: Financial_Status
Financial_Status
Middle Income    25398
Low Income       14733
High Income       9869
Name: count, dtype: int64